In [2]:
print(1+2)

3

In [3]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [4]:
print(type(30 / 3))

<class 'float'>

In [5]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [7]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [8]:
print("降水確率" + str(50) + "%")

降水確率50%

In [9]:
print("晴れ" * 5)
print("晴れ" "晴れ" "晴れ" "晴れ" "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [10]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [12]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [16]:
number1 = 5
number2 = 2.5
print(number1 + number2)

last_name  = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [17]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [47]:
top_side = 10
bottom = 20
height = 5

area = (top_side + bottom) * height / 2

#台形の面積
print(f"{area}cm²")

75.0cm²

In [38]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1])

user_names[1] = "侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [39]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

print(country_names[2])

print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [45]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

print(country_names)

country_names.add("ドイツ")
print(country_names)

country_names.remove("イギリス")
print(country_names)

{'イギリス', 'アメリカ', 'フランス', '日本'}
{'ドイツ', 'アメリカ', 'フランス', '日本', 'イギリス'}
{'ドイツ', 'アメリカ', 'フランス', '日本'}