In [2]:
print(1+2)

3

In [3]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [4]:
print(type(30 / 3))

<class 'float'>

In [5]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [7]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [8]:
print("降水確率" + str(50) + "%")

降水確率50%

In [9]:
print("晴れ" * 5)
print("晴れ" "晴れ" "晴れ" "晴れ" "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [10]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [12]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [16]:
number1 = 5
number2 = 2.5
print(number1 + number2)

last_name  = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [17]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [47]:
top_side = 10
bottom = 20
height = 5

area = (top_side + bottom) * height / 2

#台形の面積
print(f"{area}cm²")

75.0cm²

In [38]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1])

user_names[1] = "侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [39]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

print(country_names[2])

print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [45]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

print(country_names)

country_names.add("ドイツ")
print(country_names)

country_names.remove("イギリス")
print(country_names)

{'イギリス', 'アメリカ', 'フランス', '日本'}
{'ドイツ', 'アメリカ', 'フランス', '日本', 'イギリス'}
{'ドイツ', 'アメリカ', 'フランス', '日本'}

In [48]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

print(personal_data["name"])

print(personal_data)

personal_data["age"] = 37

personal_data["address"] = "東京都"

print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [49]:
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]

print(array[2])

dictionary = {"mon": "晴れ", "tue": "雨", "wed": "晴れ", "thu": "晴れ", "fri": "曇り", "sat": "曇りのち雨", "sun": "雷雨"}

print(dictionary["wed"])

水曜日は晴れです
晴れ

In [50]:
print(45 + 18)
print(45 > 18)

63
True

In [51]:
print("5" == 5)

False

In [55]:
import random

num = random.randint(0, 4)

print(num)

if num == 4:
  print("大当たりです")

4
大当たりです

In [58]:
import random

num = random.randint(0, 4)

print(num)

if num == 4:
  print("大当たりです")
else:
  print("はずれです")

4
大当たりです

In [62]:
import random

num= random.randint(0, 4)

print(num)

if num == 4:
  print("大当たりです")
elif num == 3:
  print("当たりです")
else:
  print("はずれです")

3
当たりです

In [73]:
import random

num = random.randint(0,4)

print(num)

if 1 < num and num < 3:
  print("変数numは1より大きく、3より小さいです")
else:
  print("and条件が成り立ちませんでした")

if num == 1 or num == 3:
  print("変数numは1または3です")
else:
  print("or条件が成り立ちませんでした")

3
and条件が成り立ちませんでした
変数numは1または3です

In [355]:
import random

var = random.randint(0, 100)

if var % 3 == 0 and var % 5 == 0:
  print("FizzBuzz")
elif var % 5 == 0:
  print("Buzz")
elif var % 3 == 0:
  print("Fizz")
else:
  print(var)

34

In [1]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
import random

for i in range(1, 11):
  num = random.randint(1, 20)

  print(f"{i}回目の結果は{num}です。")

  if num == 20:
    print("20が出たので繰り返し処理を強制終了します。")
    break

1回目の結果は10です。
2回目の結果は3です。
3回目の結果は9です。
4回目の結果は6です。
5回目の結果は14です。
6回目の結果は4です。
7回目の結果は2です。
8回目の結果は4です。
9回目の結果は12です。
10回目の結果は20です。
20が出たので繰り返し処理を強制終了します。

In [9]:
for i in range(1, 11):
  if i % 2 == 1:
    continue

  print(i)

2
4
6
8
10

In [10]:
import random

num = random.randint(0, 4)

print(f"最初の値は{num}です。")

while num != 0:
  num = random.randint(0, 4)

  print(f"現在の値は{num}です。")

最初の値は1です。
現在の値は4です。
現在の値は3です。
現在の値は4です。
現在の値は4です。
現在の値は3です。
現在の値は2です。
現在の値は2です。
現在の値は0です。

In [12]:
import random

num = random.randint(0, 4)

i = 1

print(f"最初の値は{num}です。")

while num != 0:
  num = random.randint(0, 4)

  if i == 5:
    print("5回目なので繰り返し処理を強制終了します。")
    break

  print(f"現在の値は{num}です。")

  i = i + 1

最初の値は3です。
現在の値は4です。
現在の値は4です。
現在の値は2です。
現在の値は4です。
5回目なので繰り返し処理を強制終了します。

In [13]:
import random

sum = 0

while sum < 20:
  num = random.randint(1, 18)

  print(f"{num}が出ました。")

  if num % 2 == 0:
    print("偶数なので加算しません。")
    continue

  sum = sum + num
  print(f"現在の数値は{sum}です。")

18が出ました。
偶数なので加算しません。
2が出ました。
偶数なので加算しません。
13が出ました。
現在の数値は13です。
13が出ました。
現在の数値は26です。

In [15]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

for user_name in user_names:
  print(user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [16]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

for key, value in personal_data.items():
  print(f"{key}は{value}です。")

for value in personal_data.values():
  print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [17]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

for index, value in enumerate(user_names):
    print(f"{index} : {value}")

0 : 侍太郎
1 : 侍一郎
2 : 侍二郎
3 : 侍三郎
4 : 侍四郎

In [18]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

target = "侍二郎"

for user_name in user_names:
  print(user_name)

  if(user_name == target):
    print(f"{target}さんが見つかったので、繰り返し処理を強制終了します。")
    break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので、繰り返し処理を強制終了します。

In [19]:
score ={"国語": 80, "数学": 55, "理科": 70, "社会": 85, "英語": 60}

print("合格した科目は以下の通りです。")

for key, value in score.items():
  if(value < 70):
    continue
  print(f"{key} : {value}点")

合格した科目は以下の通りです。
国語 : 80点
理科 : 70点
社会 : 85点

In [33]:
array = ["水", "金", "地", "火", "木", "土", "天", "海", "冥"]

for value in array:
  print(value)

i  = 0

while i <= 8:
  print(array[i])
  i = i + 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥